<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Spheres</title>
</head>
<body>
<h1>Spheres of education</h1>
    <table>
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Author ID</th>
                <th>Instructor ID</th>
                <th>Sphere ID</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text = "${course.id}">1</td>
            <td th:text="${course.name}">ICT</td>
            <td th:text = "${course.author.getName()}">1</td>
            <td th:text="${course.instructor.getName()}">ICT</td>
            <td th:text = "${course.sphere.getName()}">1</td>
        </tr>
        </tbody>
    </table>
</body>
</html>