<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Spheres</title>
</head>
<body>
<h1>Spheres of education</h1>
    <table>
        <thead>
            <tr>
                <th>Module ID</th>
                <th>Sphere Name</th>
                <th>Author ID</th>
                <th>Instructor ID</th>
                <th>Sphere ID</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>